.education_container {
  width: 50%;
  border: 3px solid black;
  border-top: none;
  border-left: none;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .education_container {
    width: 98.4%;
    padding: 0 !important;
    border-left: 3px solid black;
  }
}
.education_container h1 {
  margin: 0;
  padding: 0;
  padding: 2rem;
}
.course_container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
h4,
p {
  margin: 0;
  padding: 4px;
}

.course_container div img {
  margin: 0;
  padding: 0;
  margin: 10px 20px 0 30px;
}
