.cart_container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.cart {
  border: 3px solid black;
  width: 300px;
  margin: 1rem 2rem;
  padding: 1.5rem;
  box-shadow: black 0px 0px 0px 0px inset, #000 10px -10px 0px -3px;
  background-color: #fff;
}
@media screen and (max-width: 860px){
  .cart_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart{
    margin: .8rem 0 !important;
    padding: .8rem !important;
  }
}
.cart_header_container {
  display: flex;
}
.tech_container {
  margin-top: 1.5rem;
}
.logo_container {
  background-color: #000;
  border-radius: 3px;
  overflow: hidden;
  height: 50px;
  padding: 10px;
  margin: 0 10px 0 0;
}
