.main_navigation {
  border: 3px solid black;
}
.main_navigation nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 3px solid black;
}
.header_navigation {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  width: inherit;
  margin: 0;
  background-color: #a7dbd8;
}
.main_navigation ul div {
  display: flex;
  list-style-type: none;
}
.main_navigation ul div li {
  cursor: pointer;
  padding: 1.5rem;
}
.auth_navigation_container :nth-child(2) {
  background-color: black;
  color: #fff;
  padding: 20px;
}
.joinus_menu_option {
  border-left: 3px solid black;
}
.donate_menu_option {
  background-color: black;
  color: #fff;
}
a {
  text-decoration: none;
  color: black !important;
}

.skills_menu_option {
  border-right: 3px solid #fff;
}
.skills_menu_option:hover {
  border-right: 3px solid black;
  background-color: #bafca2;
}
.exprinece_menu_option {
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.exprinece_menu_option:hover {
  background-color: #ffda57;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.contact_menu_option {
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.contact_menu_option:hover {
  background-color: #ff9f7a;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.education_menu_option {
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.education_menu_option:hover {
  background-color: #fec0ca;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.certificates_menu_option {
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.certificates_menu_option:hover {
  background-color: #c3a0ff;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
