#root {
  max-width: 1280px;
  margin: 0 auto;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: pink;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 35px;
}
@media screen and (min-width: 769px) {
  .bm-burger-button {
    top: 100px !important;
  }
}
.bm-overlay {
  background: rgba(0, 0, 0, 0) !important;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  font-size: 29px !important;
}
.bm-menu {
  padding: 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-overlay {
  top: 0;
  right: 0;
}
.bm-menu {
  display: flex;
  justify-content: center;
}
.bm-menu-wrap {
  left: 0;
  top: 0;
}
.menu-item {
  color: #fff !important;
  padding: 0 2em 0;
}
.custom-menu-item {
  display: flex !important;
  position: absolute;
  bottom: 0 !important;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.bm-menu {
  padding-top: 3rem;
}
.custom-menu-item a:nth-child(1) {
  background-color: rgb(21, 105, 105) !important;
  padding: 1rem 0.5rem;
  font-size: 25px;
  width: 50%;
  text-align: center;
  gap: 2px;
  margin: 0 0 0 10px;
}
.custom-menu-item a:nth-child(2) {
  background-color: palevioletred !important;
  padding: 1rem 0.5rem;
  font-size: 25px;
  width: 50%;
  text-align: center;
  margin: 0 10px 0 0 ;
}
